:root {
  --grid-size: 100;
}

body {
  font-size: 40px;
  min-height: 100vh;
  font-family: 'dongle';
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 4rem;
 
  text-align: center;
}

h2 {
  font-size: 3rem;
}

.menu {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 30px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
}

.color {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.312);
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
}

.color:hover {
  border: 1px solid yellow;
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1.2em;
}

.color-palette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 15px;
  padding: 0em 0em 1em 0em;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}
